[Unit]
Description=Prometheus systemd service unit
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=nogroup
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/prometheus2/prometheus \
--config.file=/opt/prometheus2/prometheus.yml \
--storage.tsdb.path=/var/lib/prometheus \
--web.console.templates=/opt/prometheus2/consoles \
--web.console.libraries=/opt/prometheus2/console_libraries \
--web.listen-address=0.0.0.0:9090

SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target
